.elements {
    display: grid;
    grid-template: auto / repeat(3, 1fr);
    gap: 17px;
    max-width: 880px;
    margin: auto;
    margin-bottom: 66px;
}



@media screen and (max-width: 767px) {
    .elements {
        grid-template: auto / 1fr;
        margin: 0 auto 48px;
        gap: 20px;
        max-width: 282px;
    }
}