.popup__close-icon {
    background-image: url(../../../images/Close.svg);
    min-width: 32px;
    min-height: 32px;
    position: absolute;
    top: -40px;
    left: 438px;
    background-color: #000;
    border: none;
}