.popup__close-icon {
    background-image: url(../../../images/Close.svg);
    min-width: 32px;
    min-height: 32px;
    position: absolute;
    top: -40px;
    left: 438px;
    background-color: #000;
    border: none;
}
@media screen and (max-width: 767px) {
  .popup__close-icon {
    min-width: 20px;
    min-height: 20px;
    top: -36px;
    left: 262px;
    background-size: 20px;
  }
}
